<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="k6taz_ErFShA5GCsTLTEjRx4tvFrEO0J9x11huAr2K0" />
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <header class="header">
        <div class="header-link">
            <a class="header-logo" href="/">CMS</a>
            <a class="header-logout" href="/logout" <%= path === '/login' ? 'hidden' : ''%> >Logout</a>
        </div>
    </header>

    
