<nav class="nav-menu">
    <ul class="nav-list">
        <li class="nav-list-item <%= path === '/uploads' ? 'active' : ''%>"><a class="link" href="/uploads">Upload pdf</a></li>
        <li class="nav-list-item <%= path === '/employees' ? 'active' : ''%>"><a class="link" href="/employees">Employees</a></li>
        <li class="nav-list-item <%= path === '/admin-panel' ? 'active' : ''%>"><a class="link" href="/admin-panel">Admin panel</a></li>
    </ul>
</nav>