<%- include('includes/head.ejs') %>

<div class="wrapper">

    <%- include('includes/nav-menu.ejs') %>
    <main class="container">
        <h1>Page not found</h1>
    </main>
</div>
<%- include('includes/end.ejs') %>