<%- include('includes/head.ejs') %>
<main class="main-form">
    <form class="form-login" action="/login" method="post">
        <p>Login</p>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</main>
<%- include('includes/end.ejs') %>